.locations {
    padding-left: 0;
    list-style: none;

    li {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 10px;

        input {
            width: 100%;
            border-radius: 10px;
            padding: 10px 5px;
        }
    }
}