.marker-pop-up {
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    width: auto;
    display: block;
    position: absolute;
    transform: translate(-50%, 0);
    background-color: #fff;

    li {
        cursor: pointer;
        padding: 5px 10px;
        border-bottom: 1px solid lightgray;
        text-align: center;
        
        &:nth-last-child(1) {
            border-bottom: none;
        }

        &:hover {
            opacity: 0.6;
        }
    }
}

.pop-up-overlay {
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}